.container{
    /* background-color:rgb(205, 201, 201); */
    /* background-color:rgb(205 201 201 / 32%) !important; */
    background-color:rgb(205 201 201 / 23%) !important;
    height:auto;
    width:auto;
    
}
.containerHome{
    background-color:white
}
.break{
    line-break: strict;
}
.orderDetails{
  color:grey;
  font-size:15px;
  font-weight: bold;
  

}
.column{
     background-color:rgb(205 201 201 / 30%)!important;
     /* border: transparent 1px solid red  !important; */
     /* margin-top: 1rem; */
     border: "2px solid blue";
      margin: "5px";
      height: auto !important;
    width: auto !important;
     
}
.taskColumn{
    margin-left: 20px;
    font-weight: bold !important;
    color:rgb(128, 128, 128) !important;
    
    font-size:15px;
    font-weight: bold; 
    

}
.cardColor{
    background-color: white;
}
.imageFile{
    width: 70px;
	height: 70px;
	border: 1px solid rgba(182, 175, 175, 0.946);
    margin-right: 26px;
    border-radius: 7px;
    
}
.statusNw{
   
    
    background-color:  rgb(255 134 0 / 50%); 
    /* padding: 0.1em .7em; */
    /* padding: 4px 15px 3px 14px; */
    padding:4px 6px 2px 10px;
    border-radius: 28px;
    color:rgb(13, 1, 1);
   opacity: 0.6;
    font-size:1.1em;
    border:0;
    cursor:pointer;
   font-size: 12px;
    font-weight: bold;
}


.statusIP{
   
    
    background-color:  rgb(174,198,207); 
    /* padding: 0.1em .7em; */
    /* padding: 4px 15px 3px 14px; */
    padding:4px 6px 2px 10px;
    border-radius: 28px;
    color:rgb(13, 1, 1);
   opacity: 0.6;
    font-size:1.1em;
    border:0;
    cursor:pointer;
   font-size: 12px;
    font-weight: bold;
}
.statusWB{
   
    
    background-color:  rgb(255,179,222); 
    /* padding: 0.1em .7em; */
    /* padding: 4px 15px 3px 14px; */
    padding:4px 6px 2px 10px;
    border-radius: 28px;
    color:rgb(13, 1, 1);
   opacity: 0.6;
    font-size:1.1em;
    border:0;
    cursor:pointer;
   font-size: 12px;
    font-weight: bold;
}

.statusComplete{
   
    
    background-color:  rgb(175,238,238); 
    /* padding: 0.1em .7em; */
    /* padding: 4px 15px 3px 14px; */
    padding:4px 6px 2px 10px;
    border-radius: 28px;
    color:rgb(13, 1, 1);
   opacity: 0.6;
    font-size:1.1em;
    border:0;
    cursor:pointer;
   font-size: 12px;
    font-weight: bold;
}
.statusCanc{

    background-color:  rgb(128, 128, 128); 
    /* padding: 0.1em .7em; */
    /* padding: 4px 15px 3px 14px; */
    padding:4px 6px 2px 10px;
    border-radius: 28px;
    color:rgb(13, 1, 1);
   opacity: 0.6;
    font-size:1.1em;
    border:0;
    cursor:pointer;
   font-size: 12px;
    font-weight: bold;
}

.vl {
    border-left: 2px solid rgb(128, 128, 128);
    height: 20px;
    margin-left: 15px;
  }
  .endDetails{
      float: right  !important;
  }
  .timeInDays{
    margin-left: 5px !important; 
    color:rgb(128, 128, 128);
    /* font-size: 13px; */

  }
  .hours{
    margin: -5px; margin-left: 5px;
    color:rgb(128, 128, 128)
  }
  .main-profile-img {
    width: 30px;
    height: 27px;
    border-radius: 50%;
    border-style: solid;
    border-color: #FFFFFF;
    box-shadow: 0 0 8px 3px #B8B8B8;
    
}
.dot {
   margin: 2px  2px 2px 2px;
    height: 1px;
    width: 1px;
    background-color: #bbb;
    border-radius: 50%;
    padding:2px;
    display: inline-block;
   
  }
  